@model Product_Crud.Models.Color
<div class="d-flex rc my-1">
    <div class="me-2">
        <select asp-items="ViewBag.Color" asp-for="CId" id="CId" name="CId" class="form-control">
            <option value="">---select Color---</option>
        </select>
    </div>
    <div>
        <button class="btn btn-danger remove" type="button">Remove</button>
    </div>
</div>